# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# instance data, databases
instance/volumes/sqlite.db
instance/volumes/sqlite-backup.db
instance/volumes/sqlite-backup*
migrations/
